doctype html
html
  head
    meta(charset='utf-8')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
  body
    h2(class='title')
    img(id='apod')
    iframe(id='apod-video' style='border: 0; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;')

    script(src='scripts/main.js')
